<nav class="navbar navbar-expand-lg navbar-dark mb-3" style="background:#e07a2f">
  <div class="container">
    <a class="navbar-brand fw-bold" href="#">EQUIPO BASKET</a>
  </div>
</nav>

<div class="container mb-5">
  <div class="row g-3 align-items-stretch">
    <!-- LISTA -->
    <div
      [ngClass]="selectedPlayer ? 'col-lg-4 col-md-5' : 'col-lg-6 col-md-8 mx-auto'"
      class="transition-col"
    >
      <app-players
        [players]="(players$ | async) || []"
        [activeId]="selectedPlayer?.id || null"
        (selected)="onSelect($event)">
      </app-players>
    </div>

    <!-- DETALLE + MEDIA -->
    <div *ngIf="selectedPlayer" class="col-lg-8 col-md-7">
      <div class="card app-card p-3 h-100">
        <app-detail
          [player]="selectedPlayer"
          (closed)="onCloseDetail()">
          <app-media [player]="selectedPlayer"></app-media>
        </app-detail>
      </div>
    </div>
  </div>
</div>
